# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Data files (CSV/DB se non vuoi versinarli)
# *.csv
# *.db
# *.sqlite
